/* Main container styling */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Header styling */
.header-box {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.header-box h1 {
    font-size: 24px;
    margin: 0;
    /* color: #333; */
    color: white;
}

.header-box footer p {
    font-size: 12px;
    color:white;
}

/* Search bar styling */
.search-bar {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Contractor info styling */
.contractor-info-box {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #ddd;
    margin-bottom: 20px;
}

.left-info, .right-info {
    width: 45%;
}

.vertical-line {
    width: 1px;
    background-color: #ddd;
}

.left-info p, .right-info p {
    margin: 5px 0;
    font-size: 14px;
}

.left-info strong, .right-info strong {
    color: #333;
}

/* Table styling */
.tableContainer {
    overflow-x: auto;
}

.scrollable-table {
    max-height: 400px;
    overflow-y: auto;
}

#damageTable {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-size: 14px;
}

#damageTable th, #damageTable td {
    padding: 10px;
    border: 1px solid #ddd;
}

#damageTable th {
    background-color: black;
    color:white;
    font-weight: bold;
}
table, th, td {
    border: 1px solid #000;
}

#damageTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#damageTable img {
    width: 50px;
    height: auto;
}

/* Export and Print Button Styling */
.export-print-container {
    margin-top: 20px;
    text-align: right;
}

#exportButton, #printButton {
    padding: 10px 16px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

#exportButton {
    background-color: #5D0E41;
    color: white;
}

#printButton {
    background-color:  #5D0E41;
    color: white;
}

#exportButton:hover {
    background-color:  #5D0E41;
}

#printButton:hover {
    background-color:  #5D0E41;
}

.export-print-container{
    align-items: center;
    text-align: center;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    .contractor-info-box {
        flex-direction: column;
        align-items: flex-start;
    }

    .left-info, .right-info {
        width: 100%;
    }

    .search-bar {
        flex-direction: column;
    }

    #exportButton, #printButton {
        width: 100%;
        margin-bottom: 10px;
    }
}
