/* FineMaster.css */

.navbar {
    background-color: #5D0E41;
    color: white;
    font-weight: bold;
    height: 125px;
  }
  
  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    height: auto;
    background-color: #F4F4F4;
  }
  
  .container {
    width: 90%;
    max-width: 1200px;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
    border-radius: 8px;
    box-sizing: border-box;
  }
  
  header {
    margin-bottom: 20px;
  }
  
  .search-bar {
    margin-top: 1.0rem;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .btn-custom {
    background-color: black;
    color: white;
    border: none;
  }
  
  .btn-custom:hover {
    background-color: #5D0E41;
  }
  
  .header-box {
    background-color: #5D0E41;
    padding: 15px;
    color: white;
    border: 1px solid #000;
    border-radius: 4px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .header-box h1 {
    font-size: 24px;
    margin: 0;
  }
  
  .header-box p {
    font-size: 20px;
    margin: 10px 0 0 0;
  }
  
  .contractor-info-box {
    display: flex;
    align-items: stretch;
    border: 1px solid #000;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #F9F9F9;
    border-radius: 4px;
  }
  
  .left-info {
    width: 48%;
    font-size: 14px;
    padding-right: 10px;
  }
  
  .right-info {
    width: 48%;
    font-size: 14px;
    padding-left: 10px;
  }
  
  .vertical-line {
    width: 2px;
    background-color: #000;
  }
  
  .left-info p, .right-info p {
    margin: 5px 0;
  }
  
  .tableContainer {
    margin-right: 2%;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table, th, td {
    border: 1px solid #000;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    font-size: 14px;
  }
  
  th {
    background-color: #5D0E41;
    color: white;
  }
  
  tbody tr:nth-child(even) {
    background-color: #F3F3F3;
  }
  
  .action-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .action-buttons button {
    background-color: #5D0E41;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .action-buttons button:hover {
    background-color: #4A0A35;
  }
  
  #searchBtn {
    background-color: #5D0E41;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #searchBtn:hover {
    background-color: #4A0A35;
  }
  
  .export-print-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .export-print-container button {
    background-color: #5D0E41;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .export-print-container button:hover {
    background-color: #4A0A35;
  }
  
  .scrollable-table {
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ddd;
  }
  