/* Ensure the container takes the full width */
.container-fluid {
    width: 100%;
    padding: 0;
    margin: 0;
}

/* Responsive table adjustments */
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

table {
    width: 100%; /* Ensure table takes up the full width of the container */
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
    white-space: nowrap; /* Prevent wrapping of content */
}

th {
    background-color: #F4F4F4;
    color: #333;
}

tr:nth-child(even) {
    background-color: #F9F9F9;
}

tr:hover {
    background-color: #F1F1F1;
}

.btn-edit
{
    background-color: #5D0E41;
    color: white;
}
.btn-save{
    background-color: #5D0E41;
    color: white;
}