/* Main container styling */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    color: #343a40;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Fieldset and legend styling */
  fieldset {
    border: 2px solid #ced4da;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  legend {
    font-size: 1.25rem;
    font-weight: bold;
    color: #343a40;
  }
  
  /* Form labels and input fields */
  .form-label {
    font-weight: bold;
    color: #495057;
  }
  
  .form-control, .form-select {
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    padding: 16px 16px;
  }
  
  textarea.form-control {
    resize: none;
  }
  
  /* Search button styling */
  #searchButton {
    background-color: maroon;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
  }
  
  #searchButton:hover {
    background-color: #8b0000;
  }
  
  /* Print and Download buttons styling */
  #downloadPDFButton, #printButton {
    background-color: maroon;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    margin: 0 5px;
  }
  
  #downloadPDFButton:hover, #printButton:hover {
    background-color: #8b0000;
  }
  
  /* Form alignment */
  .row {
    margin-bottom: 15px;
  }
  
  .col-md-6 {
    padding: 0 10px;
  }
  
  /* Centering buttons in a row */
  .row.mb-2 .col-md-12 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Styling for the form's fieldsets and field alignment */
  fieldset .row {
    display: flex;
    justify-content: space-between;
  }
  
  textarea, input[type="text"], input[type="tel"], input[type="date"] {
    width: 100%;
  }
  
  textarea {
    min-height: 60px;
  }
  
  /* Alignment for legend text */
  legend.w-auto {
    width: auto;
    padding: 0 10px;
    font-weight: bold;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .col-md-6 {
      flex: 100%;
      max-width: 100%;
      padding: 0;
    }
  }
  
  @media print {
    .navbar, #printButton, #downloadPDFButton, #searchButton {
      display: none !important;
    }
  }
  